<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="WatchPath" value="C:\\CierantProjects_dataLocal\\Horizon_Parse\\DailyFiles\\watch_directory\\" />-->
    <add key="WatchPathProcess" value="C:\\CierantProjects_dataLocal\\Horizon_Parse\\DailyFiles\\watch_Process\\"/>
  </appSettings>
  <connectionStrings>
    <add name="conStrDev" connectionString="Server=172.17.0.42;
         Timeout=0;
         User ID=BCBS_AuditUser;
         Password=weffAmFoS;Database=BCBS_MA;" providerName="System.Data.SqlClient"/>
    <!-- <add name="conStrDev" connectionString="Server=172.17.0.42;
         Timeout=0;
         User ID=HI_AppUser;
         Password=S@fet%3$;Database=HealthIntegrated;" providerName="System.Data.SqlClient
         connectionString="Server=BUSINESSSQL\SQLSERVER2008R2;
         "/> -->

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
